.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.aboutText {
    width: 60vw;
    margin-top: 0px;
    color: white;
    padding: 30px;
    background: #002060;
    border-radius: 20px;
}

h3 {
    margin-top: 80px;
    color: #002060;
}

.aboutText p {
    text-indent: 50px;
}

.dark h3 {
    color: white;
}