.image_grid {
    margin-top: 70px;
    margin-left: 30px;
    width: 100vw;
    height: 700px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    z-index: 20000;
    overflow: hidden;
}

.image_grid img {
    cursor: pointer;
    height: 300px;

}

.image_card {
    display: block;
}

.image_card img {
    width: 100%;

}

.pop_up_container {
    display: block;
    position: fixed;
    top: 0;
    left: -20px;
    bottom: 0;
    right: 0;
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
}

.close_button {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close_button:hover {
    color: red;
}

.pop_up_image {
    width: 60vw;
    height: 70vh;
    margin: auto;

}

.pop_up_image img {
    width: 100%;

    cursor: pointer;
}

.pop_tabs {
    width: 50vw;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.tab {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tab img {
    width: 100%;
    border-radius: 10px;
}

.dark .pop_up_container {
    background: rgb(94, 91, 91);
}