/* form{
    display: flex;
    width: 500px;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
    position: absolute;
    border-radius: 10px;
    color: white;
} */

.login-container{
    width: 100%;
    height: 100vh;
    /* background: blue; */
    z-index: 50000;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    /* overflow-y: hidden; */
}

.login-back{
    width: calc(100vw - 400px);
    /* background: red; */
    margin-top: 200px;
    height: calc(100vh - 70px);
    position: absolute;
    right: 0;
    top: -128px; 
}

.login-back img{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0px;
}

.login-back .login-img-text{
    position: absolute;
    top: 0;
    padding: 50px;
}

.login-back .login-img-text h3{
    margin-top: 20px;
}

.login-container .login{
    display: flex;
    width: 390px;
    /* background: red; */
    height: calc(100vh );
    flex-direction: column;
    gap: 30px;
    /* background: #1d2b3a; */
    position: absolute;
    /* border-radius: 10px; */
    color: white;
    /* margin-top: 73px; */
    /* background: red; */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
}

.login-container .login h2{
    color:#002060;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.login-container .login button{
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    cursor: pointer;
    background: #002060;
    color: white;
    border: none;
    transition: ease-in-out 0.5s;
    /* opacity: 0.5; */
    margin-top: 20px;
}

.login-container .login div{
    margin-top: 20px;
}

.login-container .login button:hover{
    /* opacity: 1; */
    background: #2F5597;
}

.inputBox{
    position: relative;
    width: 300px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid #002060;
    /* background: #1d2b3a; */
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span{
    position: absolute;
    left: 0;
    top: 4px;
    padding: 10px;
    pointer-events: none;
    font-size: 0.8em;
    /* color: rgba(255,255,255,0.25); */
    text-transform: uppercase;
    transition: 0.5s;
    color: #002060;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #002060;
    /* border-left: 1px solid blue;
    border-right: 1px solid blue; */
    letter-spacing: 0.2em;
    border-radius: 5px;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span{
    background: #002060;
    color: white;
    border-radius: 5px;
}
.inputBox input:valid,
.inputBox input:focus{
    /* border: 1px solid #002060; */
    box-shadow: 0 0 0 1px blue;
    border: none;
}