/* form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
    position: absolute;
    margin-top: 120px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    color: white;
}


form h2{
    color: blue;
}

form button{
    padding: 10px;
    margin-left: 20px;
    width: 420px;
    border-radius: 5px;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    transition: ease-in-out 0.5s;
    opacity: 0.5;
}

form button:hover{
    opacity: 1;
}

.inputBox{
    position: relative;
    width: 400px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span{
    position: absolute;
    left: 0;
    top: 4px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: blue;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    letter-spacing: 0.2em;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span{
    background: blue;
    color: #1d2b3a;
    border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid blue;
} */